<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace对应包的全类名-->
<mapper namespace="com.baiyun.kpicollectionsystem.mapper.UsersMapper">

    <insert id="saveBatch">
        insert into users (username, password, employee_id, name, phone, department, status, created_at, updated_at)
        values
        <foreach collection="users" item="user" separator=",">
            (#{user.username}, #{user.password}, #{user.employeeId}, #{user.name}, #{user.phone}, #{user.department}, #{user.status}, #{user.createdAt}, #{user.updatedAt})
        </foreach>
    </insert>
</mapper>